.recipe-instructions {
  white-space: pre-line;
}

.meal-title {
  max-width: 100%; /* Устанавливаем максимальную ширину */
  overflow: hidden;
  text-overflow: ellipsis; /* Сокращаем текст с многоточием, если он не помещается */
  white-space: nowrap; /* Запрещаем перенос текста на новую строку */
  display: inline-block; /* Разрешаем элементу быть в одной строке */
}

.divWithRandom {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 20px;
}

.infoAbout {
  margin-top: 5%;
  margin-left: 25%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f2f2f2;
  background-color: #333333d6;
  margin-bottom: 30px;
  border-radius: 30px;
  padding: 10px;
  border: 10px;
  border-color: #f2f2f2;
  min-height: 300px; /* Пример минимальной высоты */
}

.bottomInfo {
  margin-top: 5%;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

.suggestedTitle {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  color: #f2f2f2;
  background-color: #333333d6;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .mainPage {
    /* Пример: уменьшим отступы и размер текста */
    margin: 10px;
  }

  .divWithRandom {
    /* Пример: изменение расположения компонентов */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6%;
  }

  .infoAbout {
    /* Пример: изменение ширины и выравнивания */
    margin: 85% 10px 10px 10px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

p {
  font-style: italic;
  margin-left: 25px;
}
